<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Source</title>

		<!-- external CSS link -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<header>
			<h1>Source</h1>
			<nav>
				<ul>
					<li class="nav-link"><a href="#">First link</a></li>
					<li class="nav-link"><a href="#">Second link</a></li>
					<li class="nav-link"><a href="#">Think link</a></li>
					<li class="nav-link"><a href="#">Fourth link</a></li>
				</ul>
			</nav>
			<button>Button</button>
		</header>

		<main>
			<section class="main-left">
				<h5>Tagline</h5>
				<h2>Source helps creators do more of what they love</h2>
				<form>
					<input placeholder="Placeholder">
					<button>Button</button>
				</form>
				<p>A device that enables collaboration will lessen the chance of work having to be completely redone.</p>
			</section>
			
			<section class="main-right">
				<img src="images/app/splash.png">
			</section>
		</main>

		<section class="feature-container">
			<section class="feature-card">
				<i class="fa-solid fa-globe"></i>
				<h3>Feature one</h3>
				<p>In such a test, the user performs realistic tasks by interacting with the paper prototype</p>
				<h4><a href="#">First link ></a></h4>
			</section>
			<section class="feature-card">
				<i class="fa-solid fa-gem"></i>
				<h3>Feature two</h3>
				<p>Three techniques of paper prototyping used for usability testing are comps, wireframes</p>
				<h4><a href="#">Second link ></a></h4>
			</section>
			<section class="feature-card">
				<i class="fa-solid fa-cloud-sun"></i>
				<h3>Feature three</h3>
				<p>Rapid prototyping involves a group of designers who each create a paper prototype</p>
				<h4><a href="#">Third link ></a></h4>
			</section>
			<section class="feature-card">
				<i class="fa-solid fa-droplet"></i>
				<h3>Feature four</h3>
				<p>Functionality is similarly unimportant, but in this case are closer to the final product</p>
				<h4><a href="#">Fourth link ></a></h4>
			</section>
		</section>

		<section class="collecting-container">
			<h2>Collecting information about the problem</h2>
			<p>In the context of information architecture, information is separate from both knowledge and data, and lies nebulously between them.</p>
		</section>

		<script src="https://kit.fontawesome.com/5d009b8ae0.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
