<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground</title>

		<!-- external CSS link -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<script src="https://kit.fontawesome.com/5d009b8ae0.js" crossorigin="anonymous"></script>
	<section class="site-container">
		<section class="head-main-container">
		<header>
			<nav>
				<ul>
					<li><span class="nav-text">Classes</span></li>
					<li><span class="nav-text">Hire Us</span></li>
				</ul>
			</nav>

			<button>Donate</button>
		</header>
		
		<main>
			<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
			<p>At Level Ground (LG), urban youth cultivate grit and resilience through Mixed Martial Arts. They learn to apply these values 'off the mat' in the pursuit of their ambitions through out Student Trainer Certification and College Access programs.
			<div class="video-button">
				<h3><i class="fa-regular fa-circle-play"></i>Watch the Video</h3>
			</div>
		</main>
		</section>

		<section class="why-section">
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa earum consectetur nulla sequi eveniet laboriosam hic quas mollitia dignissimos aspernatur ab odit provident delectus fuga tempore, molestiae ut ratione!</p>
		</section>

		<section class="class-section">
			<div class="class-card">
				<img src="images/mma/class-1.jpg">
				<h3>VISIT THE GYM</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nihil quibusdam illum sapiente quae cumque ducimus necessitatibus, odit eveniet eum sit cupiditate consequuntur enim et ex aspernatur debitis explicabo vero.</p>
				<button>SEE CLASSES</button>
			</div>

			<div class="class-card">
				<img src="images/mma/class-2.jpg">
				<h3>HAVE US VISIT YOU</h3>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nihil quibusdam illum sapiente quae cumque ducimus necessitatibus, odit eveniet eum sit cupiditate consequuntur enim et ex aspernatur debitis explicabo vero.</p>
				<button>HIRE US</button>
			</div>

		</section>

		<section class="volunteer-section">
			<h2>VOLUNTEER WITH LEVEL GROUND</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa perferendis blanditiis exercitationem corrupti suscipit nisi adipisci dicta, veritatis, nam delectus, eos libero iste tenetur. Quo maiores error ea dicta voluptates.</p>
			<button>VOLUNTEER</button>
		</section>

		<footer>
			<section class="footer-left">
				<div>
					<i class="fa-brands fa-square-facebook"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-regular fa-envelope"></i>
				</div>	

				<div>
					<h5>SITE MAP</h5>
					<ul>
						<li>Classes</li>
						<li>Hire Us</li>
					</ul>
				</div>

				<div>
					<h5>CONTRIBUTE</h5>
					<ul>
						<li>Give</li>
						<li>Volunteer</li>
					</ul>
				</div>
			</section>

			<section class="footer-right">
					<span class="addr-name">LEVEL GROUND<br> MIXED MARTIAL ARTS<br></span>
					<p>50 Milk Street, Floor 17<br>
					Boston, MA 02109<br>
					410-533-2210<br></p>
					<a href="#">Ali@LevelGroundMMA.org</a>
			</section>
		</footer>

		<section class="copyright-section">
			<span class="non-profit-status">Level Ground Mixed Martial Arts is a tax-exempt, 501(c)3 organization under the IRS. EIN 46-3915852.</span>
			<img src="images/mma/lg-logo-dark.png">
		</section>
	</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
