<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>BBC</title>

		<!-- external CSS link -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/news-style.css">
		<script src="https://kit.fontawesome.com/5d009b8ae0.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<main id='site-wrapper'> 


























			<header>
				<img src='./images/bbclogo.png' alt='British Broadcasting Company logo' id="header-logo">

				<section class="account-management">
					<a href="#" id="sign-in">
						<i class="fa-regular fa-user"></i>
						<h4>Sign In</h4>
					</a>
				</section>
				
				<nav>
					<ul>
						<li><p><a href='#'>Home</a></p></li>
						<li><p><a href='#'>News</a></p></li>
						<li><p><a href='#'>Sport</a></p></li>
						<li><p><a href='#'>Reel</a></p></li>
						<li><p><a href='#'>Worklife</a></p></li>
						<li><p><a href='#'>Travel</a></p></li>
						<li><p><a href='#'>Future</a></p></li>
						<li><p><a href='#'>Culture</a></p></li>
						<li><p><a href='#'>More</a></p></li>
					</ul>
					
				</nav>
				<section id="search">
					<form>	
						<input placeholder='Search'>
						<button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
				</section>
			</header>





























			<section class='splash-divider'>
				<h1>Welcome to BBC</h1>
				<time><h2 id="todays-date" datetime="2020-08-13">Thursday, 13 August</h2></time>
			</section>
			
			<section class='article-container'>
				<section class='large-article'>
					<h3>Hero dogs broker world peace</h3>
					<p>Israel and the UAE's dogs have agree to normalise relations, making the third Israel-Arab peace deal.</p>
					<h6>Middle East</h6>
				</section>
				
				<section class='small-article-container'>
					<section class='small-article' id='small-1'>
						<h3>Americans, go home: Tension at Canada-US border</h3>
						<h6>Canada-US</h6>
					</section>

					<section class='small-article' id='small-2'>
						<h3>How will the world vaccinate seven billion people?</h3>
						<h6>Health</h6>
					</section>

					<section class='small-article' id='small-3'>
						<h3>The online 'productivity gyms'</h3>
						<h6>Worklife</h6>
					</section>

					<section class='small-article' id='small-4'>
						<h3>The folk singer murdered for his music</h3>
						<h6>Culture</h6>
					</section>
				</section>
			</section>

			<section class='splash-divider'>
				<h2>News</h2>
			</section>		

			<section class='article-container'>
				<section class='medium-article'>
					<img src="./images/medium-1.jpg" class='medium-image' alt='Kamala Harris talking to Joe Biden'>
					<h3>Biden and Harris say Trump has left US 'in tatters'</h3>
					<p>Joe Biden and running mate Kamala Harris call President Donald Trump a "whining" incompetent leader.</p>
					<h6>US Election 2020</h6>
				</section>

				<section class='medium-article'>
					<img src="./images/medium-2.jpg" class='medium-image' alt='Protesting Belarusian woman holds up a peace sign'>
					<h3>Women form 'solidarity chains' in Belarus protests</h3>
				<p>Women take to the streets of Minsk dressed in white as they demand an end to police brutality.</p>
				<h6>Europe</h6>
				</section>

				<section class='medium-article'>
					<img src="./images/medium-3.jpg" class='medium-image' alt='Donald Trump with his hair blowing in the wind'>
					<h3>Trump says low-pressure shower heads won't wash</h3>
					<p>The US calls for rules to be eased after Donald Trump complained of issues washing his hair.</p>
					<h6>US & Canada</h6>
				</section>
			</section>
	</main>
			
		<script type="text/javascript" src="js/main.js"></script>
		
	</body>
</html>
