<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Restaurant</title>

		<!-- external CSS link -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/restaurant.css">
	</head>
	<body>
		<div id="first-bg">
		<header>
			<img src="/images/restaurant/logo.png">
			<nav>
				<ul>
					<li><a href="#main" class="nav-link">Home</a></li>
					<li><a href="#about" class="nav-link">About Us</a></li>
					<li><a href="#menu" class="nav-link">Menu</a></li>
					<li><a href="#reservation" class="nav-link">Reservations</a></li>
					<li><a href="#testimonials" class="nav-link">Testimonials</a></li>
					<li><a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a></li>
					<li><a href="#" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a></li>
				</ul>
			</nav>
		</header>

		<main id="main" class="main-container">
			<section class="main-content">
				<h1>Welcome <br> To Our <br>Restaurant</h1>
				<form>	
					<i class="fa-solid fa-magnifying-glass" id="main-mag"></i>
					<input placeholder="Search here">
					<div class="main-button">
						<span>Location</span>
						<i class="fa-solid fa-sort-down"></i></div>
				</form>
				<section class="main-socials-container">
					<ul class="main-socials">
						<li class="social-count">
							<a href="https://www.facebook.com" class="main-social-links">
								<i class="fa-brands fa-facebook-f"></i>
								<h6>245k</h6>
							</a>
						</li>
						
						<li class="social-count">
							<a href="https://www.instagram.com" class="main-social-links">
								<i class="fa-brands fa-instagram"></i>
								<h6>300k</h6>
							</a>
						</li>

						<li class="social-count">
							<a href="https://www.twitter.com" class="main-social-links">
								<i class="fa-brands fa-x-twitter"></i>
								<h6>15k</h6>
							</a>
						</li>
					</ul>				
				</section>
			</section>
		</main>
	</div>

		<section id="about" class="about-container">
			<div class="about-content">
				<h2>About Us</h2>
				<h3>Discover Our <br>Restaurant Story</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod molestias iure fugiat incidunt adipisci vel, repudiandae illum accusantium esse rem eveniet, explicabo obcaecati eos aspernatur sint officiis, quisquam dolorum qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque nobis, eos vero itaque nemo maxime corporis dicta sapiente? Vel maiores possimus reprehenderit sit recusandae in sequi provident ducimus perferendis?</p>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi provident sunt culpa fugit numquam aliquam quisquam dolorum pariatur debitis ab laboriosam nisi earum, eos sapiente, adipisci id iure! Ipsa, ratione.</p>
				<div class="menu-btn">
					<div class="about-button">Discover Menu</div>
					<i class="fa-solid fa-arrow-right"></i>
				</div>
			</div>
		</section>

















		<section id="menu" class="menu-container">
			<section class="menu-header">
				<h2>Order Online Now</h2>
				<h3>Our Specialty Cuisine</h3>
				<nav>
					<ul>
						<li class="menu-navigation">Breakfast</li>
						<li class="menu-navigation">Lunch</li>
						<li class="menu-navigation">Dinner</li>
						<li class="menu-navigation">Dessert</li>
						<li class="menu-navigation">Drinks</li>
					</ul>
				</nav>
			</section>

			<section class="menu-card-container">
				<section class="menu-card menu-1">
					<div class="menu-card-back">
						<h4 class="menu-card-price">$14.99</h4>
						<ul class="menu-star-container">
							<li class="star001"><i class="fa-solid fa-star"></i></li>
							<li class="star002"><i class="fa-solid fa-star"></i></li>
							<li class="star003"><i class="fa-solid fa-star"></i></li>
							<li class="star004"><i class="fa-solid fa-star"></i></li>
							<li class="star005"><i class="fa-solid fa-star"></i></li>
						</ul>
						<h4 class="menu-card-item-name">Salad</h4>
						<div class="order-now">Order Now</div>
					</div>
					<div class="menu-card-front"></div>
				</section>

					<section class="menu-card menu-2">
						<div class="menu-card-back">
							<h4 class="menu-card-price">$14.99</h4>
							<ul class="menu-star-container">
								<li class="star001"><i class="fa-solid fa-star"></i></li>
								<li class="star002"><i class="fa-solid fa-star"></i></li>
								<li class="star003"><i class="fa-solid fa-star"></i></li>
								<li class="star004"><i class="fa-solid fa-star"></i></li>
								<li class="star005"><i class="fa-solid fa-star"></i></li>
							</ul>
							<h4 class="menu-card-item-name">Soup</h4>
							<div class="order-now">Order Now</div>
						</div>
						<div class="menu-card-front"></div>
					</section>

						<section class="menu-card menu-3">
							<div class="menu-card-back">
								<h4 class="menu-card-price">$14.99</h4>
								<ul class="menu-star-container">
									<li class="star001"><i class="fa-solid fa-star"></i></li>
									<li class="star002"><i class="fa-solid fa-star"></i></li>
									<li class="star003"><i class="fa-solid fa-star"></i></li>
									<li class="star004"><i class="fa-solid fa-star"></i></li>
									<li class="star005"><i class="fa-solid fa-star"></i></li>
								</ul>
								<h4 class="menu-card-item-name">Pancakes</h4>
								<div class="order-now">Order Now</div>
							</div>
							<div class="menu-card-front"></div>
						</section>

							<section class="menu-card menu-4">
								<div class="menu-card-back">
									<h4 class="menu-card-price">$14.99</h4>
									<ul class="menu-star-container">
										<li class="star001"><i class="fa-solid fa-star"></i></li>
										<li class="star002"><i class="fa-solid fa-star"></i></li>
										<li class="star003"><i class="fa-solid fa-star"></i></li>
										<li class="star004"><i class="fa-solid fa-star"></i></li>
										<li class="star005"><i class="fa-solid fa-star"></i></li>
									</ul>
									<h4 class="menu-card-item-name">French Toast</h4>
									<div class="order-now">Order Now</div>
								</div>
								<div class="menu-card-front"></div>
							</section>
						</section>


				<section class="menu-navigation-dots-container">
					<ul>
						<li><i class="fa-regular fa-circle small-dot"></i></li>
						<li><i class="fa-regular fa-circle small-dot"></i></li>
						<li><i class="fa-regular fa-circle small-dot"></i></li>
						<li><i class="fa-solid fa-circle big-dot"></i></li>
						<li><i class="fa-regular fa-circle small-dot"></i></li>
						<li><i class="fa-regular fa-circle small-dot"></i></li>
						<li><i class="fa-regular fa-circle small-dot"></i></li>
					</ul>	
				</section>
			</section>
















		<section id="reservation" class="reservation-container">
			<h2>Book a Table</h2>
			<h3>Opening Hours</h3>
			<i class="fa-solid fa-phone"></i>
			<h4 class="reservation-call-now">Call Now</h4>
			<h4 class="reservation-phone-number">(262) 555-8580</h4>

			<section class="hours-of-operation">
				<section class="hours-left">
					<h4 class="hours-days">Monday to Tuesday</h4>
					<h4 class="hours-hours">09:00am - 22:00pm</h4>
				</section>
				<section calss="hours-right">
					<h4 class="hours-days">Friday to Sunday</h4>
					<h4 class="hours-hours">11:00am - 20:00pm</h4>
				</section>
			</section>

			<section class="book-video-container">
				<i class="fa-regular fa-circle-left"></i>
				<img src="images/restaurant/video.png" alt="Preview of making a reservation video" class="reservation-vid-pic">
				<i class="fa-regular fa-circle-right"></i>
			</section>
			
		</section>

		<section id="testimonials" class="testimonials-container">
			<h2>Testimonials</h2>
			<h3>Customers Say</h3>
			<section class="testimonial-card-container">
				<img src="images/restaurant/testimonial1.png" alt="Reviewer's photo" class="testimonial-pic">
				<h4>Mr John Smith</h4>
				<h5>Art Director</h5>
				<ul class="testimonial-card-star-container">
					<li class="star001"><i class="fa-solid fa-star"></i></li>
					<li class="star002"><i class="fa-solid fa-star"></i></li>
					<li class="star003"><i class="fa-solid fa-star"></i></li>
					<li class="star004"><i class="fa-solid fa-star"></i></li>
					<li class="star005"><i class="fa-solid fa-star"></i></li>
				</ul>
				<p>Delicious boneless, skinless chicken breasts and fresh mushrooms in garlic and white wine sauce.  Cuisine is team work at Cuisine Restaurant Cafe, we aim at promoting the foodstuff industry through the branches.  We estalbish and through the new dishes.
			</section>
			<section class="testimonial-dots-container">
				<ul>
					<li><i class="fa-regular fa-circle small-dot"></i></li>
					<li><i class="fa-regular fa-circle small-dot"></i></li>
					<li><i class="fa-regular fa-circle small-dot"></i></li>
					<li><i class="fa-solid fa-circle big-dot"></i></li>
					<li><i class="fa-regular fa-circle small-dot"></i></li>
					<li><i class="fa-regular fa-circle small-dot"></i></li>
					<li><i class="fa-regular fa-circle small-dot"></i></li>
				</ul>				
			</section>
		</section>
		<script src="https://kit.fontawesome.com/5d009b8ae0.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
