<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>TechCrunch</title>

	<!-- external CSS link -->
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/techblog.css">
	</head>
	<body>
	<section class="site-wrapper">
		<aside>
			<img src="images/techblog/tclogo.png" alt="TechCrunch logo" class="nav-logo">
			<h3>Join TechCrunch+</h3>
			<nav>
				<ul>
					<li><a href="#">Search</a></li>
					<li><a href="#">Startups</a></li>
					<li><a href="#">TechCrunch+</a></li>
					<li><a href="#">Audio</a></li>
					<li><a href="#">Newsletters</a></li>
					<li><a href="#">Videos</a></li>
					<li><a href="#">Advertise</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">More</a></li>
				</ul>
			</nav>
		</aside>

		<main>
			<section class="spotlight-container">
				<section class="large-article">
					<h1>Microsoft to buy Activision Blizzard for $68.7 billion</h1>
					<h4>Amanda Sliberling</h4>
					<img src="images/techblog/large-article.jpg" alt="" class="large-art-image">
				</section>

				<section class="small-article-container">
					<section class="small-article">
						<h2>Register today for DeFi and the Future of Programmable Money Summit</h2>
						<h4>Alexandra Annes</h4>
					</section>

					<section class="small-article">
						<img src="images/techblog/tcplus.png" alt="TechCrunch plus required" class="plus-logo" >
						<h2>For investors, future of work isn't only about HR</h2>
						<h4>Anna Heim</h4>
					</section>

					<section class="small-article">
						<h2>Upward plans to open a 250,000-square-foot vertical farm in PA early next year</h2>
						<h4>Brian Heater</h4>
					</section>

					<section class="small-article">
						<h2>Wayve raises $200M series B led by Eclipse for its AI for autonomous delivery vehicles</h2>
						<h4>Mike Butcher</h4>
					</section>
				</section>
			</section>

			<section class="splash-divider">
				<h3>The Latest</h3>
			</section>

			<section class="secondary-container">
				<section class="medium-article">
					<section class="med-article-left">
						<h2>Snapchat says it's getting better at finding illicit drug dealers before users do</h2>
						<h4>Taylor Hatmaker</h4>
						<time datetime="2022-01-18">11:15 AM PST - January 18, 2022</time>
					</section>
					<p>Snapchat has faced increasing criticism in recent years as the opioid crisis plays out on social media, often with tragic results. In October, an NBC investigation reported the stories of a number...</p>
					<img src="images/techblog/medium-1.jpg">
				</section>

				<section class="medium-article">
					<section class="med-article-left">
						<img src="images/techblog/tcplus.png" class="plus-logo" alt="TechCrunch plus required">
						<h2>Will quantum computing remain the domain of the specialist VC?</h2>
						<h4>Maria Lepskaya</h4>
						<time datetime="2022-01-18">11:06 AM PST - January 18, 2022</time>
					</section>
					<p>Despite all the buzz, quantum investments are still not mainstream: there were about 90 quantum investments in 2021.</p>
					<img src="images/techblog/medium-2.jpg">
				</section>

				<section class="medium-article">
					<section class="med-article-left">
						<h2>Ex-Dispo founding members launch Roll app, where creators post exclusive content</h2>
						<h4>Taylor Hatmaker</h4>
						<time datetime="2022-01-18">11:15 AM PST - January 18, 2022</time>
					</section>
					<p>Today marks the launch of the Roll app, which aims to create an easy way for creators to make an extra buck while portraying a potentially more authentic version of themselves to their fans. Alread...</p>
					<img src="images/techblog/medium-3.jpg">
				</section>
				
			</section>
		</main>
	</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
