/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  background: white;
  font-family: "Roboto", sans-serif;
}

.site-wrapper {
  padding: 0 2rem;
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  max-width: 144rem;
  margin: auto;
  overflow: hidden;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  flex-basis: 100%;
}

header input {
  background-color: lightgray;
  color: #1965f2;
  border: none;
  width: 15rem;
  border-radius: .5rem;
  padding: 1rem
}

header input::placeholder {
  font-size: 1.6rem;
  color: #1965f2;
  text-transform: capitalize;
}

header ul {
  display: flex;
}

header li, header h3 {
  display: inline-block;
  color: #1965f2;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 2rem;
}


main {
  padding: 10rem 0;
  width: 75%;
  margin: auto;
  display: flex;
  flex-basis: 100%;
}

.double-undies {
  border-bottom: 2px double green;
}

.main-content {
  display: flex;
}

main li {
  display: inline-block;
  padding-right: 1rem;
  border-radius: .5rem;
}

main h3 {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 4rem;
  letter-spacing: .1rem;
}

main ul {
  display: flex;
  justify-content: flex-start;
}

h1 {
  font-size: 4rem;
}

.why-ka {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

h2 {
  font-size: 3.6rem;
}

.btn {
  padding: 1.5rem;
  font-size: 1.6rem;
  background: #1965f2;
  color: white;
  border-radius: .5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
